
  <div class="container-fluid px-sm-0">
    <div class="row">
      <%#サイドバー %>
      <div class="col-md-3 px-5 sidebar-bg">
         <%#サイドバー %>

        <%= render 'public/posts/form', post: @post %>

      </div>

      <div class="col-md-9 px-5 sns-bg">

        <div class="row">
          <div class="col-md-4">
            <h2 class="mt-4 topic-main"><i>Swieets</i></h2>
          </div>
        </div>
        <%#投稿一覧%>
        <% if @posts.count == 0 %>
        <p class="font-default">Swieetが存在しません！</p>
        <p class="font-default">Swieetするかユーザーをフォローしましょう！</p>
        <% end %>
        <%= render "public/posts/post_index", posts: @posts %>
      </div>
    </div>
  </div>
