<div class="container px-5 px-sm-0">
  <div class="row">
    <% #サイドバー %>
    <div class="col-md-3 mt-4">
       <% #投稿フォーム%>
      <%= render 'public/posts/form', post: @post %>
    </div>

    <div class="col-md-8 offset-md-1">

      <div class="row">
        <div class="col-md-4">
          <h2 class="mt-4 rounded-lg border border-dark text-center">みんなのSwieet</h2>
        </div>
      </div>
      <% #投稿一覧%>
      <% if @posts.count == 0 %>
      Swieetが存在しません！<br>
      Swieetするかユーザーをフォローしましょう！
      <% end %>
      <%= render "public/posts/post_index", posts: @posts %>
    </div>
  </div>
</div>