<div class="about-bg">
<div class="container">
  <div class="row mt-5 about-border">
    <div class="about1-back col-md-4 d-flex align-items-center justify-content-center">
      <%= image_tag 'dolphin.png', :size => '300x200' %>
    </div>
    <div class="col-md-8 about1-design">
      <h3 class="mt-2 about1-topic"><b>Swieetについて</b></h3>
      <p>　Swieetは、水泳を行う全ての方々の為のSNSです。スポーツ特有の、知らない人同士でも共に練習を重ね、コミュニケーションをとれる素敵な空間を”いつでも”体感することができるSNSを目指して作成を行なっています。
      スポーツというのは自分自身と向き合う時間が多く、時に辛いことも多いと思います。しかし、辛く厳しい試練を乗り越えた先の景色は、他のものには形容し難い達成感です。そんな達成感を味わう為に、
      みんなで支え合うSweetなSwieetを行なっていただけたら、幸いです。<br>　機能面として現在は以下の機能をご利用可能です。<br>・基本的なSNS機能/メニュー作成機能/メニュー共有機能/メニュープリント機能<br>
      　今後追加予定のものは以下の機能です。<br>・ランキング機能/練習記録機能/DM機能/通知機能等々</p>
    </div>
  </div>
  <div class="row mt-5 about-border">
    <div class="col-md-8 about2-design">
      <h3 class="mt-2 about2-topic"><b>水泳のメリット</b></h3>
      <p>　利用者の方のモチベーションに少しでも貢献できるように、水泳のスポーツ施設で働いている私から水泳のメリットについて代表的なものを簡単に説明させていただきます。１つ目は、カロリー消費量が高いという点です。
      陸上で1時間ウォーキングを行った場合のカロリーと比較した場合、平泳ぎ・背泳ぎは約５倍、クロール・バタフライで約７倍ものカロリー消費が行えます。２点目は、低負荷のスポーツな
      ため怪我をされた方のリハビリや、関節を傷めている方にも推奨されるスポーツであるという点です。実際に、怪我や病気をなさっている方々が、お医者さんに水泳は許可をもらうことができ、毎日楽しみに水泳をしにくる人もいっらしゃいます。
      ３つ目は、水泳を小さい頃に行なっていると頭が良くなるかも？という噂があります。東大家庭教師友の会が行ったアンケートによると、東大生の６５％が水泳を習っており、一般的な数値の２倍近い結果になったとのことです。正確な真偽はわかりませんが、
      認知防止やうつ病の防止など実際に脳にも影響を与えるスポーツな為、効果はあるのではないでしょうか。今回紹介したのはまだまだ氷山の一角なため、今後このような水泳にまつわる役に立つ情報や面白い話を、みなさまと共有できればと思います。</p>
    </div>
    <div class="about2-back col-md-4 d-flex align-items-center justify-content-center">
      <%= image_tag 'swimmer.jpg', :size => '300x250', class:"about2-photo" %>
    </div>
  </div>
  <div class="row mt-5 about-border">
    <div class="about1-back col-md-4 d-flex align-items-center justify-content-center">
      <%= image_tag 'createrimg.jpeg', :size => '250x250' ,class:"rounded-circle" %>
    </div>
    <div class="col-md-8 about1-design">
      <h3 class="mt-2 about1-topic"><b>製作者について</b></h3><br>
      <h4>　上東 亮祐</h4><br>
      <p>　趣味：映画鑑賞・水族館や美術館などの施設にいくこと<br>
      　性格：好奇心旺盛、自分の経験したことのない経験をたくさんしたいし、聞きたい！<br><br>
        　東京農業大学卒業後DMMWEBCAMPに入学、プログラミングを学び将来Life・Agri・Sportなどのサービスを作成したいと思い勉強中です。<br>
      　今回は、大学１年の頃より働いているスポーツ施設のプールの会員さん及びスタッフのお役に立つことができればと思い、スイミング関連のアプリSwieetを制作いたしました。初めての一人でのアプリ制作な為まだまだ至らないことばかりですが、日々学習をつみ成長できればと思っています。</p>
    </div>
  </div>
  <div class="row mt-5 mb-5 about-border">
    <div class="col-md-8 about2-design">
      <h3 class="mt-2 about2-topic"><b>最後に</b></h3>
      <p>　利用者の方々、この度は本サイトを閲覧・ご利用いただき誠にありがとうございます。最後にこの場をお借りしまして、本サイトを作成するにあたり、ご協力をいただいた皆様に感謝の言葉を伝えさせていただけたらと思います。<br>
      　３ヶ月にわたり、ご助言・ご指導をしていただいたDMMWEBCAMPのメンター・運営部の方々、一緒に悩み苦楽を共にしたDMMWEBCAMP5月受講生の方々、３ヶ月にわたり勉強に集中できるようサポートをしていただいた家族の方、皆様に心から
      　感謝いたしております。正直なところ、プログラミングを学んで気づいたこととしまして、３ヶ月ではエンジニアなんて一言も名乗れるものではないなと痛感いたしました。しかし、皆様のおかげで、エンジニアになるための第一歩を歩むことができました。
        今後とも学習を続け、このご恩を人の役に立つサービスを開発することで少しでも返せたらと思っております。今後の成長を暖かく見守っていただければ幸いです。皆様、この度は誠にありがとうございました。</p>
    </div>
    <div class="about2-back col-md-4 d-flex align-items-center justify-content-center">
      <%= image_tag 'thanx.jpg', :size => '300x250', class:"about2-photo" %>
    </div>
  </div>
</div>
</div>