<div class="container-fluid px-sm-0 font-default">
    <div class="row">
      <% #サイドバー %>
      <div class="col-md-3 px-5 sidebar-bg">
         <% #サイドバー %>

        <%= render 'public/posts/form', post: @post1 %>

      </div>

      <div class="col-md-9 px-5 sns-bg">

      <div class="row">
        <div class="col-md-4">
          <h2 class="mt-4 topic-main">Menu作成</h2>
        </div>
      </div>
      <% #menu作成フォーム %>

      <%= render 'public/menus/menuform', menu: @menu %>

    </div>

  </div>
</div>