header {
  top: 0px;
  width: 100%;
  height: 80px;
}

.header-content {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 9999;
  background-color: rgba(242, 242, 242, 0.8);
}

.brand {
  margin-left: 10%;
}

.font-head{
  font-family: 'Noto Serif JP', serif;
}
