<div class="container px-5 px-sm-0">
  <div class="row">
    <% #サイドバー %>
    <div class="col-md-3 mt-4">
       <% #投稿フォーム%>
      <%= render 'public/posts/form', post: @post1 %>
    </div>

    <div class="col-md-8 offset-md-1">
      <% #othersprofile%>
      <%= render 'public/users/othersprofile', user: @user %>
      <% #othersmenu %>
      <% if @menus.count == 0 %>
        このユーザーはメニューを公開または作成していません。
      <% end %>
      <%= render 'public/users/othersmenu', menus: @menus %>
    </div>
  </div>
</div>