<div class="container-fluid px-sm-0">
    <div class="row">
      <%#サイドバー %>
      <div class="col-md-3 px-5 sidebar-bg">
         <%#サイドバー %>

        <%= render 'public/posts/form', post: @post1 %>

      </div>

      <div class="col-md-9 px-5 sns-bg">
      <%#myprofofile%>
      <%= render 'public/users/myprofile', user: @user %>
      <%#menu一覧 %>
      <% if @menus.count == 0 %>
        メニューが存在しません。<br>
        メニューを作成しましょう！
      <% end %>
      <%= render 'public/users/mymenu', menus: @menus %>
    </div>
  </div>
</div>