<div class="container-fluid px-sm-0">
    <div class="row">
      <% #サイドバー %>
      <div class="col-md-3 px-5 sidebar-bg">
         <% #サイドバー %>

        <%= render 'public/posts/form', post: @post1 %>

      </div>

      <div class="col-md-9 px-5 sns-bg">
      <% #othersprofile%>
      <%= render 'public/users/othersprofile', user: @user %>
      <% #swieet %>
      <%= render 'public/users/swieet', posts: @posts %>
    </div>
  </div>
</div>